<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    {% include footer.html %}
  </body>
<!--     <script src="{{ site.baseurl }}public/js/snap.svg-min.js"></script>
    <script src="{{ site.baseurl }}public/js/modernizr.custom.js"></script>
    <script src="{{ site.baseurl }}public/js/classie.js"></script>
    <script src="{{ site.baseurl }}public/js/demo1.js"></script> -->
    <script src="{{ site.baseurl }}js/underscore-min.js"></script>
    <script src="{{ site.baseurl }}js/backbone-min.js"></script>
</html>
